<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
            <style>
                .jumbotron {
                    margin-top: 50px;
                    min-height: 330px;
                }
                .jumbotron h1 {
                    font-weight: 800;
                    font-size: 30px;
                    margin-bottom: 50px;
                    text-align: center;
                }
            </style>
            
        {% endblock %}
    </head>
    <body>
        <div id="content" class="container">
            <div class="jumbotron">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>