{% extends 'base.html.twig' %}

{% block title %}Jokes Generator{% endblock %}

{% block body %}
    <h1>Jokes Generator</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-center">
            <button type="submit" class="btn btn-success">Send</button>
        </div>
    {{ form_end(form) }}
{% endblock %}