{% extends 'base.html.twig' %}

{% block title %}Jokes Generator{% endblock %}

{% block body %}
    <p class="text-center"><b>Joke was sent and saved to local storage</b></p>
    <p class="text-center"><a href="/">Back</a></p>
{% endblock %}